# Ambientes virtuais Python
venv/
.env/
.venv/
.venv311/
env/
ENV/
__pycache__/
.vscode/
Python-3.11.11/
dados_treinamento/
node_modules/

computer_vision/data/to_training/1
computer_vision/data/to_training/2
computer_vision/data/to_training/3
computer_vision/data/to_training/4
computer_vision/data/to_training/5
computer_vision/data/to_training/a
computer_vision/data/to_training/e
computer_vision/data/to_training/i
computer_vision/data/to_training/o
computer_vision/data/to_training/u
computer_vision/data/to_training/ok
computer_vision/data/to_training/limpar
