# Ambientes virtuais Python
venv/
.env/
.venv/
.venv311/
env/
ENV/
__pycache__/
.vscode/
Python-3.11.11/
dados_treinamento/

data/to_training/1
data/to_training/2
data/to_training/3
data/to_training/4
data/to_training/5
data/to_training/a
data/to_training/b
data/to_training/c
data/to_training/d
data/to_training/e
data/to_training/f
